<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog.mapper.ArticleMapper">
    <select id="findArticles" parameterType="Long" resultType="com.blog.data.pojo.Article">
        select * from ms_article where
        <foreach item="id" collection="articleIds" open="id in (" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="hot" resultType="com.blog.data.pojo.Article">
        select * from ms_article order by view_counts desc limit 0,#{size}
    </select>

    <select id="news" resultType="com.blog.data.pojo.Article">
        select * from ms_article order by create_date desc limit 0,#{size}
    </select>
</mapper>